/* Sections */

section{
}

.section-showcase {
	height:$showcase-height;
	background:url($showcase-image) no-repeat top center;
	
	.showcase-content{
		padding:80px 0;
		text-align:center;
	}
	
	h1{
		color:$primary-color;
	}
}

.section-primary{
	@include add-background($primary-color);
}

.section-primary-a{
	@extend .section-primary;
	@include add-border(4px, $secondary-color, top);
}

.section-primary-b{
	@extend .section-primary;
	@include add-border(4px, $secondary-color, bottom);
}

.section-secondary{
	@include add-background($secondary-color);
}

.section-light{
	@include add-background($light-color);
	padding: 20px 0 20px;
}

.section-dark{
	@include add-background($dark-color);
}