/* Sections */

section{
	// padding:30px 0;
}

.section-showcase {
	// padding: 0px;
	margin: -20px;
	height:$showcase-height;
	background:url($showcase-image) no-repeat top center;
	
	.showcase-content{
		padding:80px 0;
		text-align:center;
	}
	
	h1{
		color:$primary-color;
	}
}

.section-primary{
	@include add-background($primary-color);
}

.section-primary-a{
	@extend .section-primary;
	@include add-border(4px, $secondary-color, top);
}

.section-primary-b{
	@extend .section-primary;
	@include add-border(4px, $secondary-color, bottom);
}

.section-secondary{
	@include add-background($secondary-color);
}
.section-light{
	@include add-background($light-color);
}

.section-dark{
	@include add-background($dark-color);
}